@{
    ViewData["ShowNav"] = false;
}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <span class="text-muted">StudentSwipe</span>
                    <h2 class="display-5 fw-bold">About Us</h2>
                    <p class="lead">
                        StudentSwipe is a student-centered web application designed to make academic and housing connections 
                        easier. Whether you're in high school, college, or university, StudentSwipe helps you find classmates 
                        taking the same courses for group study or connects you with potential roommates that match your preferences 
                        and lifestyle.
                        We understand how overwhelming school life can be—especially when you're juggling studies, schedules,
                        and student housing. Our platform creates a safe and simple space where students can build meaningful 
                        connections based on their education level, 
                        shared courses, interests, and living preferences.
                        With verified accounts, age-appropriate school selection, and a filter-based matching system, 
                        StudentSwipe makes it easier for students to focus on what really matters—learning, living, and growing.
                    </p>
                    <a href="/Profile/CreateOrEdit" class="profile-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .profile-btn {
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #9d3ff1;
        background-color: #9d3ff1;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        margin-top: 10px;
        transition: background 0.3s ease;
    }

        .profile-btn:hover {
            background: linear-gradient(90deg, #9d3ff1, #ff52fd, #6c30ff);
        }


</style>
